<!-- dashboard.html -->
<!DOCTYPE html>
<head>
        <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Define Titles Etcetera-->
    <!-- Navigation Section -->
    <nav>
        <ul>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'tea_submission' %}">New Record</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    <!-- <h3 id="header" style="color: darkgreen; text-align: center;">CLERK Recording Module</h3> -->

</head>
<!-- Some dirty styling -->
<style>
        nav {
        background-color: #333;
        padding: 10px;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav li {
        display: inline;
        margin-right: 15px;
    }

    nav a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

</style>

{% block content %}
    <div class="container">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Field Manager</th>
                    <th>Farmer</th>
                    <th>Amount in Kgs</th>
                </tr>
            </thead>
            <tbody>
                {% for record in tea_records %}
                    <tr>
                        <td>{{ record.user }}</td>
                        <td>{{ record.farmer }}</td>
                        <td>{{ record.amount_in_kgs }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
<footer>
    <!-- Your footer content goes here -->
    <p>&copy; 2023 CFMS</p>
</footer>